<style>
.header
{
  font-size: 17px;
  font-weight: bold;
  color: #428bca;
}

.row
{
  padding-bottom: 5px;
}

.data
{
  color: #454545;
}
</style>

<h1>Contacts</h1>

<div class="oj-flex">            
    <div class="oj-flex-item">  
        <button id= "button"
            data-bind="click: newContact, 
                       ojComponent: { component: 'ojButton', label: 'Add New' }">
        </button>
    </div>
</div>   

<div class="oj-flex">            
  <div class="oj-flex-item">                
    <ul id="employees-listview" aria-label="list using collection"  
        data-bind="ojComponent: {component: 'ojListView',
                                 data: dataSource,
                                 item: {template: 'employees_template'},
                                 selectionMode: 'single',
                                 scrollPolicy: 'loadMoreOnScroll',
                                 scrollPolicyOptions: {fetchSize: 15}}">
    </ul>
  </div>
  <div class="oj-flex-item">                

  </div>
</div>

<div data-bind="ojModule: { name: 'new_contact_dialog'}"></div>
<div data-bind="ojModule: { name: 'view_comments'}"></div>
<div data-bind="ojModule: { name: 'add_comment'}"></div>

<script type="text/html" id="employees_template">
    <li data-bind="attr: {id: 'contact-' + contactID}">
        <div class="oj-flex">
            <div class="oj-lg-2 oj-md-2 oj-sm-12" style="max-width:144px;padding-bottom:5px">
                <img data-bind="attr: {src: 'images/user_icon.png', alt: name}"></img>
            </div>
            <div class="oj-lg-8 oj-md-8 oj-sm-12">
                <div class="oj-flex row">
                    <div class="oj-lg-12">
                        <span class="header" data-bind="text: name"></span>
                    </div>
                </div>
                <div class="oj-flex row">
                    <div class="oj-lg-4 oj-md-4 oj-sm-12">
                        <span class="data"><b>Telephone: </b><span data-bind="text: telephone"></span></span>
                    </div>
                    <div class="oj-lg-4 oj-md-4 oj-sm-12">
                        <span class="data"><b>Email: </b><span data-bind="text: email"></span></span>
                    </div>
                    <div class="oj-lg-4 oj-md-4 oj-sm-12">
                        <span class="data"><b>Facebook: </b><span data-bind="text: facebookPage"></span></span>
                    </div>
                </div>
                <div class="oj-flex">
                    <div class="oj-lg-4 oj-md-4 oj-sm-12">
                        <span class="data"><b>Service: </b><span data-bind="text: service"></span></span>
                    </div>
                    <div class="oj-lg-4 oj-md-4 oj-sm-12">
                        <span class="data"><b>Score: </b><span data-bind="text: score"></span></span>
                    </div>
                    <div class="oj-lg-4 oj-md-4 oj-sm-12">
                        <span class="data"><b> </b><span data-bind="text: ''"></span></span>
                    </div>
                </div>
            </div>
            <div class="oj-lg-2 oj-md-2 oj-sm-12" style="max-width:144px;padding-bottom:5px">
                <div class="oj-flex row">
                    <div class="oj-lg-12">
                        <span class="header"></span>
                    </div>
                </div>
                <div class="oj-flex row">
                    <div class="oj-flex-item">
                        <button data-bind="attr: { id: 'add-comment-' + contactID },
                              click: $parent.addComment,
                              ojComponent: {
                                    component:'ojButton',
                                    label: 'Add Comment'}">
                        </button>
                    </div>
                </div>
                <div class="oj-flex row">
                    <div class="oj-flex-item">
                        <button data-bind="attr: { id: 'view-comments-' + contactID },
                              click: $parent.viewComments,
                              ojComponent: {
                                    component:'ojButton',
                                    label: 'View  Comments'}">
                        </button>
                    </div>
                </div>
            </div>   
        </div>
    </li>
</script>
