<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>My Hello</h1>
<p>First name: <input data-bind="value: firstName" /></p>
<p>Last name: <input data-bind="value: lastName" /></p>

<h2>Hello, <span data-bind="text: fullName"> </span>!</h2>
<div class="oj-flex">            
    <div class="oj-flex-item">  
        <button id= "button"
                data-bind="click: newEmployee, 
                       ojComponent: { component: 'ojButton', label: 'Add New' }">
        </button>
    </div>
</div>   

<div class="oj-flex"> 
    <div class="oj-flex-item">                
        <ul id="employees-listview" aria-label="list using collection"  
            data-bind="ojComponent: {component: 'ojListView',
                                 data: dataSource,
                                 item: {template: 'employees_template'},
                                 selectionMode: 'single',
                                 scrollPolicy: 'loadMoreOnScroll',
                                 scrollPolicyOptions: {fetchSize: 15}}">
        </ul>
    </div>
    <div class="oj-flex-item">                

    </div>
</div>

<div data-bind="ojModule: { name: 'new_employee_dialog'}"></div>
<div data-bind="ojModule: { 
    viewName: 'edit_employee_dialog',
    viewModelFactory: editEmployeeModelFactory}">
</div>

<script type="text/html" id="employees_template">
    <li data-bind="attr: {id: 'emp-' + employeeID}">
        <div class="oj-flex">
            <div class="oj-flex-item">
                <div class="oj-flex">            
                    <div class="oj-flex-item">                
                        <strong data-bind="text: firstName + ' ' + lastName">
                        </strong>                                    
                    </div>            
                </div>
                <div class="oj-flex">            
                    <div class="oj-flex-item">                
                        <span data-bind="text: 'Gender: ' + gender"> </span>
                    </div>
                </div>
                <div class="oj-flex">            
                    <div class="oj-flex-item">                
                        <span data-bind="text: 'Birth Date: ' + birthDate"> </span>
                    </div>
                    <div class="oj-flex-item">                
                        <span data-bind="text: 'Hire Date: ' + hiredate"> </span>
                    </div>
                    <div class="oj-flex-item">                
                        <span data-bind="text: 'Created Date: ' + created"> </span>
                    </div>
                </div> 
            </div>
            <div class="oj-flex-item">
                <button data-bind="attr: { id: 'edit-employee-' + employeeID },
			 click: $parent.editEmployee,
			 ojComponent: {
			   component:'ojButton',                                                
			   label: 'Edit'}">
                </button>
            </div>
            <div class="oj-flex-item">
                <button data-bind="attr: { id: 'delete-employee-' + employeeID },
			  click: $parent.deleteEmployee,
			  ojComponent: {
				component:'ojButton',
				display: 'icons',
				icons: {start:'oj-fwk-icon-cross oj-fwk-icon'}, 
				label: 'Delete'}">
                </button>
            </div>   

        </div>
    </li>
</script>


