<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div style="display:none" id="new-contact-dialog"
     title="Add New Contact" 
     data-bind="ojComponent:{component: 'ojDialog',
                             initialVisibility: 'hide',
                             rootAttributes: {style: 'width: 500px;'}}">  
    <div class="oj-dialog-body">
    <div id="form-container" class="oj-form-layout">
      <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4
                  oj-md-labels-inline"
           data-bind="with: contactRecord"> 
        <div class="oj-flex">  
          <div class="oj-flex-item">
            <label for="name">Name</label>
          </div>
          <div class="oj-flex-item">
            <input id="name" 
                   data-bind="ojComponent: {component: 'ojInputText', 
                                            value: name,
                                            required: true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="telephone">Telephone</label>
          </div>
          <div class="oj-flex-item">
            <input id="telephone" 
                   data-bind="ojComponent: {component: 'ojInputText', 
                                            value: telephone,
                                            required: true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="email">Email</label>
          </div>
          <div class="oj-flex-item">
            <input id="email"
                   data-bind="ojComponent: {component: 'ojInputText',
                                            value: email,
                                            required: true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="facebookPage">Facebook page</label>
          </div>
          <div class="oj-flex-item">
            <input id="facebookPage"
                   data-bind="ojComponent: {component: 'ojInputText',
                                            value: facebookPage,
                                            required: true}">
          </div>
        </div>
      </div>    
    </div>    
    </div>
    <div class="oj-dialog-footer">
    <button id="submit-button"
            data-bind="click: function (data, event) {
                        submitContact(data, event, $parent);},
                    ojComponent: {component: 'ojButton',
                                  label: 'Submit'}">
        
    </button>
    <button id="cancel-button"
            data-bind="click: cancelContact,
                       ojComponent: {component: 'ojButton',
                                     label: 'Cancel'}">
    </button>
    </div>
</div>

